/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  margin-left: 200px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark gray handle */
  border-radius: 10px; /* Round corners */
  border: 2px solid #f1f1f1; /* Padding around the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
