.bouncing-loader {
  margin-top: 4rem;
  display: flex;
}

.bouncing-loader > div {
  width: 10px !important;
  height: 10px !important;
  margin: 3px 6px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff6b6b, #f9d423);
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.loader {
  margin: auto;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1f2937;
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

pre {
  white-space: pre-wrap;
  /* Ensures wrapping of long lines */
  overflow-x: auto;
  /* Adds horizontal scroll if needed */
}

.code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .textareafilename {
    width: 100px;
  }
}

@media (min-width: 1300px) and (max-width: 1350px) {
  .textareafilename {
    width: 130px;
  }
}

@media (min-width: 1350px) and (max-width: 1400px) {
  .textareafilename {
    width: 150px;
  }
}

@media (min-width: 1400px) and (max-width: 1450px) {
  .textareafilename {
    width: 200px;
  }
}

@media (min-width: 1450px) and (max-width: 1500px) {
  .textareafilename {
    width: 230px;
  }
}

@media (min-width: 1500px) and (max-width: 1550px) {
  .textareafilename {
    width: 250px;
  }
}

@media (min-width: 1550px) and (max-width: 1600px) {
  .textareafilename {
    width: 280px;
  }
}

@media (min-width: 1600px) and (max-width: 1650px) {
  .textareafilename {
    width: 320px;
  }
}

@media (min-width: 1650px) and (max-width: 1700px) {
  .textareafilename {
    width: 350px;
  }
}

.markdown-code-block {
  position: relative;
}

.copybutton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.copybutton1 {
  position: absolute;
  top: 8px;
  left: 798px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.copybutton:hover {
  color: #f3f3f3;
}

.copybutton1:hover {
  color: #f3f3f3;
}
